doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="mobile-web-app-capable", content="yes")
    link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css')
    script(src='https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    block content
