extends layout

block content

    div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
        header(class="mdl-layout__header")
            div(class="mdl-layout__header-row")
                span(class="mdl-layout-title") StandApp
        div(class="mdl-layout__drawer")
            span(class="mdl-layout-title") StandApp
            nav(class="mdl-navigation")
                a(class="mdl-navigation__link" href="/") Issues
                a(class="mdl-navigation__link" href="/stats") Stats
        main(class="mdl-layout__content")
            div(class="page-content")
                h1 Stats
                each val, index in stats
                    div(class="stats-row")
                    span(class="stats-date")= val.date
                    - var w = "width:" + (val.count * 50) + "px"
                    span(class="bar" style=w)= val.count
