
html>body {
  font-family: 'Roboto','Helvetica','Arial', sans-serif !important;
  background-color: #FAFAFA;
}
.mdl-card {
    margin:20px 0;
}
.mdl-card__supporting-text span {
    float: right;
}
.mdl-card-done {
}
.page-content {
    width: 550px;
    margin: 0 auto;
    padding: 0 16px;
}
button {
    margin: 30px 0;
}
.stats-row {
    margin-bottom: 16px;
}
.stats-date {
    display: inline-block;
    width: 150px;
}
.bar {
    height:20px;
    color: White;
    background-color:Red;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: inline-block;
}
