
html>body {
  font-family: 'Roboto','Helvetica','Arial', sans-serif !important;
  background-color: #FAFAFA;
}
.mdl-card {
    margin:20px 16px;
}
.mdl-card__supporting-text span {
    float: right;
}
.mdl-card-done {
    opacity: 0.35;
}
.page-content {
    width: 550px;
    margin: 0 auto;
    padding: 0 16px;
}
button {
    margin: 30px 0;
}
